<header>
    <div class="uk-container uk-text-center uk-padding-small">
        <h1>Memory game</h1>
    </div>
</header>
<div id="wrapper">
    <div class="uk-container uk-padding-small">
        <div class="uk-grid uk-child-width-1-2">
            <button type="button" class="uk-button uk-button-primary" (click)="startGame()">
                New game
            </button>
            <button type="button" class="uk-button uk-button-danger" (click)="stopGame()" [disabled]="!gameRunning">
                Stop game
            </button>
        </div>
        <div id="game" *ngIf="gameRunning">
            <div class="uk-grid uk-child-width-1-6" *ngIf="!gameEnded; else scoreBoard">
                <app-card
                        *ngFor="let card of _gameCards; let i = index"
                        [card]="card"
                        (click)="showCard(i)">

                </app-card>
            </div>
            <ng-template #scoreBoard>
                <h4>Game ended with number of moves: {{gameMoves}}</h4>
            </ng-template>

        </div>
    </div>
</div>
